* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

nav ul {
  list-style-type: none;
  display: none;
}

nav ul a {
  display: block;
  background: #66023cd4;
  padding: 20px;
  font-size: 17px;
  text-decoration: none;
  text-transform: uppercase;
  color: #ffe8d6;
  transition: color 1s ease, background 1s ease, padding 1s ease;
}

nav ul a:hover {
  background: #c90678bb;
  color: #f8dcf5;
  padding-left: 30px;
}

.nav-container img {
  width: 100px;
  align-self: center;
}

.nav-container {
  padding: 0 20px;
  background: #f8dee8;
  border-bottom: 3px solid #750a33;
  display: flex;
  justify-content: space-between;
}

.bar {
  width: 30px;
  height: 3px;
  margin: 7px;
  background: #750a33;
}
.btn {
  padding: 2px;
  display: inline-block;
  align-self: center;
}

header {
  min-height: 100vh;
  background: linear-gradient(
      rgba(250, 136, 216, 0.4),
      rgba(250, 136, 216, 0.4)
    ),
    url(img/pic1.jpg) center/cover fixed no-repeat;
  display: flex;
  flex-direction: column;
}

nav {
  flex: 0 0 auto;
}

.banner {
  flex: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.banner h1 {
  text-transform: capitalize;
  font-size: 40px;
  color: #750a33;
  margin-top: 25%;
}

.banner img {
  width: 250px;
  margin-top: 30%;
}

nav {
  position: fixed;
  width: 100%;
  z-index: 10;
}

@media screen and (min-width: 776px) {
  .nav-container {
    display: none;
  }

  .banner img {
    width: 300px;
    margin-top: 15%;
  }

  .banner h1 {
    font-size: 50px;
    margin-top: 15%;
  }
  nav ul {
    display: flex !important;
    flex-wrap: wrap;
    justify-content: center;
    background: #691245;
  }
  nav ul a {
    background: transparent;
  }
}
/* ######SERVICES####### */
.services {
  min-height: 90vh;
  background: url(img/pic11.jpg) center/cover fixed no-repeat;
  display: flex;
  align-items: center;
}

.service {
  color: #66023c;
  display: flex;
  margin: 40px;
}

.service-icon {
  align-self: center;
  font-size: 40px;
  margin-right: 20px;
  padding: 20px;
  border: 3px solid #66023c;
  border-radius: 50%;
}

.service-text h3 {
  text-transform: uppercase;
}

.services-text p {
  line-height: 2;
  margin-top: 5px;
}

@media screen and (min-width: 575px) {
  .services-center {
    width: 70%;
  }
}

@media screen and (min-width: 775px) {
  .services-center {
    width: 50%;
  }
  .service-text p {
    width: 70%;
  }

  .service-icon {
    font-size: 70px;
  }
}

/* ###Products##### */
.products {
  padding: 0 0 100px 0;
  background: #f8dee8;
}

.title h2 {
  font-size: 25px;
  text-align: center;
  text-transform: uppercase;
  color: #750a33;
}

.title-underline {
  background: #750a33;
  width: 100px;
  height: 4px;
  margin: 10px auto;
}

.title {
  padding: 50px 0;
}

.product {
  background: linear-gradient(#f7d3e1, #f7d3e1);
  overflow: hidden;
}

.products img {
  width: 100%;
  display: block;
  transition: opacity 1s ease, transform 1s ease;
}

.products img:hover {
  opacity: 0.6;
  cursor: pointer;
  transform: scale(1.3);
}

@media screen and (min-width: 576px) {
  .products-center {
    display: flex;
    flex-wrap: wrap;
  }
  .product {
    flex: 0 0 calc(50%);
  }
}

@media screen and (min-width: 992px) {
  .product {
    flex: 0 0 calc(33.333%);
  }
}

/* ####ABOUT#### */
.about {
  min-height: 100vh;
  padding: 100px 0;
  background: url(img/pic2.jpg) center/cover fixed no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-card {
  background: #f7d3e1ba;
  text-align: center;
  padding: 16px 40px;
}

.about-card h3 {
  font-size: 40px;
  text-transform: capitalize;
  color: #66023c;
}

.about-card .fa-address-card {
  font-size: 60px;
  color: #66023c;
  margin: 20px 0;
}

.about-card p {
  line-height: 2;
  color: #66023c;
}

@media screen and (min-width: 775px) {
  .about-card {
    max-width: 50%;
    border-radius: 30px;
  }
  .about-card p {
    max-width: 70%;
    margin: 0 auto;
  }
}

/* ####FILLER##### */
.filler {
  min-height: 60vh;
  background: url(img/pic5.jpg) center/cover fixed no-repeat;
}

/* #######CONTACT###### */
.contact {
  min-height: 80vh;
  background: url(img/pic2.jpg) center/cover fixed no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-card {
  flex: 0 80%;
  padding: 40px 0;
  background: #750a336f;
  display: flex;
  justify-content: center;
  align-items: center;
}

form {
  flex: 0 0 60%;
  display: flex;
  flex-direction: column;
}

form input {
  margin: 10px 0;
}

form h3 {
  text-align: center;
  text-transform: uppercase;
  color: #ffe8f1;
}

form input.form textarea {
  padding: 5px;
  border: 3px solid #750a33;
}

input::placeholder,
textarea::placeholder {
  text-transform: uppercase;
  color: #66023c;
}

.form-btn {
  margin: 20px;
  font-size: 20px;
  border-radius: 40px;
  padding: 5px;
  background: #66023c;
  color: #fce8f0;
  transition: color 1s ease background 1s ease;
}

.form-btn:hover {
  color: #66023c;
  background: #fce8f0;
}

/* #####FOOTER######## */
footer {
  background: #66023c;
  padding: 30px 0;
  text-align: center;
 
}

.footer-icons a {
  display: inline-block;
  font-size: 30px;
  margin: 0 10px 20px 10px;
  padding: 2px 5px;
  border-radius: 5px;
  background: #ffe8d6;
  color: #66023c;
}

footer p {
  color: #ffe8d6;
  font-size: 20px;
}
